body {
  margin: 0;
  padding: 0;
  background-color: #f2cab5;
  font-family: Garamond, "Times New Roman", Georgia, serif;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
}

.shapka {
  font-family: Garamond, "Times New Roman", Georgia, serif;
  display: flex;
  align-items: center;
  height: 90px;
  background-color: #ffffff;
  padding: 0 140px;
}

.logotype {
  width: 150px;
  height: 48px;
}

.shapka ul {
  list-style-type: none;
  display: flex;
  margin-right: 0;
  margin-left: auto;
}

.shapka a {
  color: black;
  text-decoration: none;
}

.shapka li + li {
  margin-left: 50px;
}

.opros1 {
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  width: 800px;
}

.zagolovok2 {
  font-size: 30px;
}

.answer1 label {
  font-size: 30px;
  display: block;
  width: 200px;
}

.opros2 {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 800px;
}

.zagolovok3 {
  font-size: 30px;
}

.answer2 label {
  font-size: 30px;
  display: block;
  width: 200px;
}

.knopka {
  margin: auto;
  color: black;
  font-size: 24px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  cursor: pointer;

  border-color: #659888;
  box-shadow: 0 0 40px 40px #659888 inset, 0 0 0 0 #659888;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.knopka:hover {
  box-shadow: 0 1 60px 0 #659888 inset, 0 1 60px 4px #659888;
}
