.hero {
  width: 100%;
  margin: 100px auto;
  display: flex;

  justify-content: space-between;
  align-items: center;

  .hero-desc {
    width: 620px;
    h2 {
      font-weight: 600;
      font-size: 50px;
    }

    p {
      margin-top: 30px;
      font-size: 25px;
    }
  }

  img {
    width: 500px;
  }
}

.reasons-list {
  margin: 100px auto;

  .reason {
    .reason-hero {
      display: flex;
      align-items: center;
      height: 250px;

      img {
        height: 250px;
        width: 250px;
        margin-right: 30px;
      }

      h2 {
        font-size: 35px;
      }
    }

    .reason-desc {
      display: flex;
      justify-content: space-between;
      margin-top: 50px;

      p {
        font-size: 25px;
      }

      img {
        margin-left: 30px;
        width: 350px;
        height: 350px;
      }
    }

    .reason-desc-extra {
      margin-top: 25px;
      font-size: 25px;
    }
  }

  .reason + .reason {
    margin-top: 100px;
  }
}

@media screen and (max-width: 1040px) {
  .hero {
    margin: 50px auto;
    flex-direction: column;

    img {
      width: 400px;
      height: 400px;
    }

    .hero-desc {
      width: 600px;
      text-align: center;
      p {
        margin: 25px auto;
      }
    }
  }
}

@media screen and (max-width: 680px) {
  .hero {
    margin: 25px auto;

    img {
      width: 350px;
      height: 350px;
    }

    .hero-desc {
      width: auto;

      h2 {
        font-size: 35px;
      }

      p {
        font-size: 25px;
      }
    }
  }
  .reasons-list {
    margin: 50px auto;
    .reason {
      .reason-hero {
        height: auto;

        img {
          width: 180px;
          height: 180px;
        }

        h2 {
          font-size: 25px;
        }
      }

      .reason-desc {
        flex-direction: column;
        margin: 25px auto;
        p {
          text-align: justify;
        }
        img {
          margin: 25px auto 0;
          width: 300px;
          height: 300px;
        }
      }
    }
    .reason + .reason {
      margin-top: 50px;
    }
  }
}
